<html>

<head>
    <style>
        body {
            background-color: #c1f4be;
            font-family: Arial;
            margin: 0;
            padding: 20px;
        }

        h1 {
            display: block;
            font-size: 2em;
            margin-top: 0.67em;
            font-weight: bold;
            font-style: italic;
            text-align: center;
            color: #0d4a28;
        }

        table {
            width: auto;            
            margin: auto;
            border-collapse: collapse;
            background-color: #e8e8e8;            
            margin-top: 20px;
            table-layout: auto;
        }

        th {
            background-color: #4fa776;
            color: white;
            padding: 10px;
            text-align: center;
            border-bottom: 1px solid #0d4a28;
        }

        td {
            padding: 10px;
            text-align: center;
            border: none;
            border-bottom: 1px solid #0d4a28;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #dcdcdc;
        }

        button {
            background-color: #4fa776;
            color: white;
            border: none;
            padding: 8px 16px;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
        }
        #createUpdateForm input {
            margin-bottom: 10px; 
        }
        #supplierSelect {
            margin-bottom: 10px;
        }
        
    </style>
    <title>Shipments</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>

</head>

<body>
    <h1>SHIPMENTS TRACKER</h1>
    <div id="supplierForm" style="margin-bottom:10px; padding:0 15px; border-radius:8px;">    
        <h3 style="color:#0d4a28; margin-top:0">Add new Supplier</h3>        
        <input type="text" id="newSupplierName" placeholder="Supplier name" style="padding:5px;">
        <input type="text" id="newSupplierCountry" placeholder="Country" style="padding:5px;">
        <button onclick="addSupplier()">Add Supplier</button>
    </div>
    <hr style="border:none; border-top:1px solid #21b865; margin:20px 0;">
    <div id="searchControls" style="margin-bottom:10px; padding:0 15px; border-radius:8px;">
        <h3 style="color:#0d4a28; margin-top:0">Search</h3>        
        <input type="text" id="searchInput" placeholder="Search shipment" onkeyup="filterTable()" style="padding:5px;">
        
        <select id="statusFilter">       
        <option value="">Show all - status</option>
        <option value="In transit">In transit</option>
        <option value="Delayed">Delayed</option>
        <option value="Delivered on time">Delivered on time</option>
        <option value="Delivered late">Delivered late</option>
        </select>
    </div>
    
    <div style="padding:0 15px; margin-top:40px;">
        <button id="showCreateButton" onclick="showCreate()">Create Supplier</button>
    </div>
    <div>
        <table class="table" id="shipmentTable">
            <tr>
                <th>ID</th>
                <th>Status</th>
                <th>Planned ETA</th>
                <th>Supplier</th>
                <th>Country</th>
                <th>Actual ETA</th>
                <th>Item Code</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </table>
    </div>
    <div id="message" style="display: none;">This is my message</div>

    <div id="createUpdateForm" style="display: none">
        <h2>
            <span id="createLabel">Create or </span>
            <span id="updateLabel">update shipment</span> 
        </h2>
        <input type="hidden" name="id" />
        Planned ETA <input type="date" name="planned_eta" /><br />
        Supplier <select name="supplier_id" id="supplierSelect"></select><br />
        Actual ETA <input type="date" name="actual_eta" /><br />
        Item Code <input type="text" name="item_code" /><br />

        <button onclick="doCreate()">Create</button>
        <button onclick="doUpdate()">Update</button>
        <button onclick="showViewAll()">Back</button> <!--Button, return to main screen -->
    </div>
</body>
<script>
    // Other support functions
    // Date formatter
    function formatDateShort(dateString) {
        if (!dateString) return "";

        var d = new Date(dateString);

        return d.toLocaleDateString("en-GB", {
            year: "numeric",
            month: "2-digit",
            day: "2-digit"
        });
    }

    function calculateStatus(planned_eta, actual_eta) {
        var today = new Date();

        today.setHours(0,0,0,0); //remove time for comparison

        var planned = new Date(planned_eta);
        planned.setHours(0,0,0,0);

        // Check if shipment is in transit, no actual_ETA
        if (!actual_eta) {
            if (planned > today) {
                return "In transit";
            } else {
                return "Delayed";
            }
        }

        // Check delivery status if on time or delayed
        var actual = new Date(actual_eta);
        actual.setHours(0,0,0,0);

        if (actual > planned) {
            return "Delivered late";
        } else {
            return "Delivered on time";
        }
    }
    function formatDateForInput(dateString) {
        if (!dateString) return "";

        if (dateString.includes("-")) return dateString;

        return dateString.split("/").reverse().join("-");
    }
    
    function filterTable() {
    var input = document.getElementById("searchInput");
    var filter = input.value.toUpperCase();
    var table = document.getElementById("shipmentTable");
    var tr = table.getElementsByTagName("tr");

    for (var i = 1; i < tr.length; i++) {
        var tdStatus = tr[i].getElementsByTagName("td")[1];
        var tdSupplierCode = tr[i].getElementsByTagName("td")[3];
        var tdSupplierName = tr[i].getElementsByTagName("td")[4];
        var tdItemCode = tr[i].getElementsByTagName("td")[6];

        if (tdStatus || tdSupplierCode || tdSupplierName || tdItemCode) {
            var txtStatus = tdStatus.textContent || tdStatus.innerText;
            var txtCode = tdSupplierCode.textContent || tdSupplierCode.innerText;
            var txtName = tdSupplierName.textContent || tdSupplierName.innerText;
            var txtItem = tdItemCode.textContent || tdItemCode.innerText;

            if (
                txtStatus.toUpperCase().indexOf(filter) > -1 ||
                txtCode.toUpperCase().indexOf(filter) > -1 ||
                txtName.toUpperCase().indexOf(filter) > -1 ||
                txtItem.toUpperCase().indexOf(filter) > -1
            ) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}

    function RemoveProduct() {
        return confirm("Are you sure you want to delete this shipment?");
    }
    $('#statusFilter').change(function() {
    var selected = $(this).val();
    var rows = $('#shipmentTable tr');

    rows.each(function(index) {
        if (index === 0) return; // skip header

        var status = $(this).find('td:eq(1)').text();

        if (!selected || status === selected) {
            $(this).show();
        } else {
            $(this).hide();
        }
    });
});


    //Control functions
    function showCreate() {
        document.getElementById("shipmentTable").style.display = "none";
        document.getElementById("createUpdateForm").style.display = "block";
        document.getElementById("showCreateButton").style.display = "none"; //Hide Create button in create/update screen
        document.getElementById("searchControls").style.display = "none"; //Hide search field in create/update screen
    }

    function showViewAll() {
        document.getElementById("shipmentTable").style.display = "block";
        document.getElementById("createUpdateForm").style.display = "none";
        document.getElementById("showCreateButton").style.display = "block"; //Add Create button again after hiding it
        document.getElementById("searchControls").style.display = "flex";
    }

    function showUpdate(buttonElement) {
        document.getElementById("shipmentTable").style.display = "none";
        document.getElementById("createUpdateForm").style.display = "block";
        document.getElementById("searchControls").style.display = "none";

        var rowElement = buttonElement.parentNode.parentNode;
        var shipment = getShipmentFromRow(rowElement);
        populateFormWithShipment(shipment);
    }
    

    // CRUD functions
    function doCreate() {
        var form = document.getElementById("createUpdateForm");
        var shipment = {};
        
        shipment.planned_eta = form.querySelector('input[name="planned_eta"]',).value;

        shipment.supplier_id = form.querySelector('select[name="supplier_id"]').value;
        var options = form.querySelector('select[name="supplier_id"]').selectedOptions[0];
        shipment.supplier_name = options.getAttribute("data-name");
        shipment.country = options.getAttribute("data-country");

        var actual_eta = form.querySelector('input[name="actual_eta"]',).value;
        if (actual_eta === "") {
            shipment.actual_eta = null;  //Accept empty actual ETA
        } else {
            shipment.actual_eta = actual_eta;
        }   
        shipment.status = calculateStatus(shipment.planned_eta, shipment.actual_eta);
        shipment.item_code = form.querySelector('input[name="item_code"]').value;
        createShipmentAjax(shipment);
    }

    function doUpdate() {
        var shipment = getShipmentFromForm();
        var rowElement = document.getElementById(shipment.id);
        updateShipmentAjax(shipment);
        shipment.status = calculateStatus(shipment.planned_eta, shipment.actual_eta);
        setShipmentInRow(rowElement, shipment);
        clearForm();
        showViewAll();
    }

    function doDelete(r) {
        if (!RemoveProduct()) return;
        var tableElement = document.getElementById("shipmentTable");
        var rowElement = r.parentNode.parentNode;
        var index = rowElement.rowIndex;
        deleteShipmentAjax(rowElement.getAttribute("id"));
        tableElement.deleteRow(index);
    }

    // Table functions
    function addShipmentToTable(shipment) {
        var tableElement = document.getElementById("shipmentTable");
        var rowElement = tableElement.insertRow(-1);

        rowElement.setAttribute("id", shipment.id);

        var cell1 = rowElement.insertCell(0);
        cell1.innerHTML = shipment.id;
        var cell2 = rowElement.insertCell(1);
        var status = calculateStatus(shipment.planned_eta, shipment.actual_eta);
        cell2.innerHTML = status;

        if (status === "Delayed") {
            rowElement.style.backgroundColor = "#ffcccc";
}
        var cell3 = rowElement.insertCell(2);
        cell3.innerHTML = formatDateShort(shipment.planned_eta);
        var cell4 = rowElement.insertCell(3);
        cell4.innerHTML = shipment.supplier_name || shipment.supplier_id;
        var cell5 = rowElement.insertCell(4);
        cell5.innerHTML = shipment.country || "";
        var cell6 = rowElement.insertCell(5);
        cell6.innerHTML = formatDateShort(shipment.actual_eta);
        var cell7 = rowElement.insertCell(6);
        cell7.innerHTML = shipment.item_code;
        var cell8 = rowElement.insertCell(7);
        cell8.innerHTML = '<button onclick="showUpdate(this)">Update</button>';
        var cell9 = rowElement.insertCell(8);
        cell9.innerHTML = '<button onclick="doDelete(this)">Delete</button>';
    }

    // Forms
    function clearForm() {
        var form = document.getElementById("createUpdateForm");

        form.querySelector('input[name="planned_eta"]').value = "";
        form.querySelector('select[name="supplier_id"]').selectedIndex = 0;        
        form.querySelector('input[name="actual_eta"]').value = "";
        form.querySelector('input[name="item_code"]').value = "";
    }

    function getShipmentFromRow(rowElement) {
        var shipment = {};

        shipment.id = rowElement.getAttribute("id");
        shipment.status = rowElement.cells[1].innerHTML;
        shipment.planned_eta = rowElement.cells[2].innerHTML;
        shipment.supplier_id = rowElement.cells[3].innerHTML;
        shipment.country = rowElement.cells[4].innerHTML;
        shipment.actual_eta = rowElement.cells[5].innerHTML;
        shipment.item_code = rowElement.cells[6].innerHTML;
        return shipment;
    }

    function setShipmentInRow(rowElement, shipment) {
        rowElement.cells[0].firstChild.textContent = shipment.id;
        
        var status = calculateStatus(shipment.planned_eta, shipment.actual_eta);        
        rowElement.cells[1].innerHTML = status;        
        if (status === "Delayed") {
            rowElement.style.backgroundColor = "#ffcccc";
        }

        rowElement.cells[2].firstChild.textContent = formatDateShort(shipment.planned_eta);
        rowElement.cells[3].innerHTML = shipment.supplier_name;
        rowElement.cells[4].innerHTML = shipment.country || "";
        rowElement.cells[5].innerHTML = formatDateShort(shipment.actual_eta);
        rowElement.cells[6].firstChild.textContent = shipment.item_code;
       
    }

    function populateFormWithShipment(shipment) {
        var form = document.getElementById("createUpdateForm");

        form.querySelector('input[name="id"]').value = shipment.id;
        form.querySelector('input[name="planned_eta"]').value = formatDateForInput(shipment.planned_eta);
        form.querySelector('select[name="supplier_id"]').value = shipment.supplier_id;        
        form.querySelector('input[name="actual_eta"]').value = formatDateForInput(shipment.actual_eta);
        form.querySelector('input[name="item_code"]').value = shipment.item_code;
        return shipment;
    }

    function getShipmentFromForm() {
        var form = document.getElementById("createUpdateForm");
        var shipment = {};
        shipment.id = form.querySelector('input[name="id"]').value;
        
        planned_eta = form.querySelector('input[name="planned_eta"]',).value;
        shipment.planned_eta = planned_eta;

        shipment.supplier_id = form.querySelector('select[name="supplier_id"]').value;
        var options = form.querySelector('select[name="supplier_id"]').selectedOptions[0];
        shipment.supplier_name = options.getAttribute("data-name");
        shipment.country = options.getAttribute("data-country");

        var actual_eta = form.querySelector('input[name="actual_eta"]',).value;
        if (actual_eta === "") {
            var tableValue = document.getElementById(shipment.id).cells[5].innerHTML;
            actual_eta = formatDateForInput(tableValue);
        }
        shipment.actual_eta = actual_eta;

        shipment.item_code = form.querySelector('input[name="item_code"]',).value;
        
        return shipment;
    }

    //Succesfull shipment creation message
    function showMessage(text, time) {
        var o = document.getElementById("message");
        o.style.display = "block";
        o.innerHTML = text;
        setTimeout(function() {
            o.style.display = "none";
        }, time);
    }

    function addSupplier() {
    var supplier = {};

    supplier.supplier_name = document.getElementById("newSupplierName").value;
    supplier.country = document.getElementById("newSupplierCountry").value;

    if (supplier.supplier_name === "" || supplier.country === "") {
        showMessage("Please fill all supplier fields", 2000);
        return;
    }

    createSupplierAjax(supplier);
}


    // Ajax functions

    function getSuppliersAjax() {
    $.ajax({
        url: "/suppliers",
        method: "GET",
        dataType: "JSON",
        success: function(result) {
            var select = document.getElementById("supplierSelect");
            select.innerHTML = "";

            for (supplier of result) {
                var option = document.createElement("option");
                option.value = supplier.supplier_id;
                option.text = supplier.supplier_name;
                option.setAttribute("data-name",supplier.supplier_name);
                option.setAttribute("data-country", supplier.country);

                select.appendChild(option);
            }
        },
        error: function(xhr, status, error) {
            console.log("error: " + status + " msg:" + error);
        }
    });
}

    function createSupplierAjax(supplier) {

    $.ajax({
        url: "/suppliers",
        method: "POST",
        data: JSON.stringify(supplier),
        dataType: "JSON",
        contentType: "application/json; charset=utf-8",

        success: function(result) {
            var select = document.getElementById("supplierSelect");

            var option = document.createElement("option");

            option.value = result.supplier_id;
            option.text = result.supplier_name;

            option.setAttribute("data-name", result.supplier_name);
            option.setAttribute("data-country", result.country);

            select.appendChild(option);
            
            document.getElementById("newSupplierName").value = "";
            document.getElementById("newSupplierCountry").value = "";

            showMessage("Supplier added successfully", 2000);
        },

        error: function(xhr, status, error) {
            console.log("error: " + status + " msg:" + error);
        }
    });
}

    function getAllAjax() {
        $.ajax({
            url: "/shipments",
            method: "GET",
            dataType: "JSON",
            success: function (result) {
                for (shipment of result) {
                    addShipmentToTable(shipment);
                }
            },
            error: function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            },
        });
    }

    function createShipmentAjax(shipment) {
        $.ajax({
            url: "/shipments",
            method: "POST",
            data: JSON.stringify(shipment),
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                result.supplier_name = shipment.supplier_name;
                result.country = shipment.country;
                addShipmentToTable(result);
                clearForm();
                showViewAll();
                showMessage("New shipment added", 2000);
            },
            error: function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            },
        });
    }

    function updateShipmentAjax(shipment) {
        $.ajax({
            url: "/shipments/" + encodeURI(shipment.id),
            method: "PUT",
            data: JSON.stringify(shipment),
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                console.log(result);
            },
            error: function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            },
        });
    }

    function deleteShipmentAjax(id) {
        $.ajax({
            url: "/shipments/" + encodeURI(id),
            method: "DELETE",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                console.log(result);
            },
            error: function (xhr, status, error) {
                console.log("error: " + status + " msg:" + error);
            },
        });
    }

    getSuppliersAjax();
    getAllAjax();
</script>

</html>

<!--Updating url: "http://127.0.0.1:5000/shipments: From DevTools GET http://127.0.0.1:5500/shipments 404 (Not Found)
Heading settings: https://www.w3schools.com/tags/tag_hn.asp
HTML color codes: https://htmlcolorcodes.com/
Borders and hover over: https://www.tutorialspoint.com/article/how-to-create-a-comparison-table-with-css
Paddings: https://www.w3schools.com/css/css_padding.asp
Button styling: https://www.w3schools.com/css/css3_buttons.asp
Back button: https://stackoverflow.com/questions/4629606/input-type-back-button  
Success message: https://stackoverflow.com/questions/8677145/html-text-with-time-limit 
Accept empty actual_ETA: https://stackoverflow.com/questions/8796707/is-it-possible-to-have-a-html-select-option-value-as-null-using-php
User input fields margin: https://stackoverflow.com/questions/61451796/how-to-style-input-fields-of-a-specific-html-form-with-css
Date type input: https://www.w3schools.com/tags/att_input_type_date.asp
Date format: https://stackoverflow.com/questions/3552461/how-do-i-format-a-date-in-javascript/60881661
Date check for status: https://www.servicenow.com/community/itsm-forum/date-validation-if-date-is-7-days-from-today/td-p/3426138
Date function for status: https://stackoverflow.com/questions/69167898/javascript-date-compare-html-table-with-compare-days-ago
dae input formatting: https://stackoverflow.com/questions/25159330/how-to-convert-an-iso-date-to-the-date-format-yyyy-mm-dd
Get current date value when no new date is selected in update function: https://stackoverflow.com/questions/3072233/getting-value-from-table-cell-in-javascript-not-jquery
Converting date format:https://stackoverflow.com/questions/27087128/convert-dd-mm-yyyy-to-yyyy-mm-dd-format-using-javascript
Search bar, filter data: https://stackoverflow.com/questions/43622127/filtering-table-multiple-columns/43622296
Background color line: https://www.sitepoint.com/background-colors-javascript/
Delete confirmation: https://stackoverflow.com/questions/12073352/use-confirm-as-a-condition-to-if
Dropdown filter: https://www.geeksforgeeks.org/html/html-dropdown/
Select tag: https://www.w3schools.com/tags/att_select_name.asp
Reset dropdown list: https://community.adobe.com/questions-582/how-to-reset-a-dropdown-list-back-to-the-default-value-after-a-selection-is-made-273709#:~:text=One%20modern%20way%20of%20doing,selectedIndex%5B0%5D.
Get supplier name inspiration 1:https://stackoverflow.com/questions/2230704/jquery-getting-custom-attribute-from-selected-option
Get supplier name inspiration 2: https://stackoverflow.com/questions/8345666/on-select-change-get-data-attribute-value
Get supplier name inspiration 3:https://stackoverflow.com/questions/11957677/html-how-to-get-custom-attribute-of-option-tag-in-dropdown
Supplier Ajax inspo 1: https://stackoverflow.com/questions/6601028/how-to-populate-the-options-of-a-select-element-in-javascript
Supplier Ajax inspo 2:https://jakarta.ee/specifications/faces/2.3/jsdoc/jsf-uncompressed.js.html
Hr tag: https://medium.com/web-dev-survey-from-kyoto/everything-about-hr-when-to-use-it-and-how-to-style-it-fd17b66573
-->